﻿@{
    ViewData["Title"] = "Home Page";
}

<script>
    function controlOn() {
        $.get("http://localhost:8080/asitek/control/on");
        $('#status').html('uključeno');
    }

    function controlOff() {
        $.get("http://localhost:8080/asitek/control/off");
        $('#status').html('isključeno');
    }
</script>

<div class="text-center">
    <h1 class="display-4">Upravljanje</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-success" onclick="controlOn()">Uključi</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-danger" onclick="controlOff()">Isključi</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                Trenutno stanje: <div id="status"></div>
            </div>
        </div>
    </div>
</div>